name: Docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create virtual environment
        run: python -m venv .venv
        
      - name: Activate virtual environment
        run: |
          echo "VIRTUAL_ENV=$GITHUB_WORKSPACE/.venv" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/.venv/bin" >> $GITHUB_PATH

      - name: Clear disk space
        run: |
          sudo docker image prune --all --force
          pip cache purge
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*
          df -h

      - name: Install publishing dependencies
        run: python -m pip install -r .github/workflows/ci-requirements.txt

      - name: Deploy pages
        run: mkdocs gh-deploy --force      